@model ProjectManager.Models.ProjectContext

@{
    ViewBag.Title = "Details";
    ViewBag.Page = "Projects";
}

<h2><a href="/Projects"><span class="glyphicon glyphicon-arrow-left"></span></a> Project Details @{if(ProjectManager.Utils.Auth.GetCurrentUser().IsManager) {<a class="btn btn-sm btn-info" href="/Projects/Edit/@Model.ProjectId"><span class="glyphicon glyphicon-pencil"></span> Edit</a>}}</h2>

<table class="project-details">
    <tr>
        <td>Project Name:</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Manager:</td>
        <td>@Model.Manager</td>
    </tr>
    <tr>
        <td>Start Date:</td>
        <td>@Model.Start</td>
    </tr>
    <tr>
        <td>Expected End Date:</td>
        <td>@Model.ExpectedEnd</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>@Model.Status</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>
<br /><br />
@{
    if (Model.Requirements.Count == 0)
    {
        <p>No Requirements saved for this Project.</p>
    }
    else
    {
        <table class="projects">
            <thead>
                <tr>
                    <td>Description</td>
                    <td>Type</td>
                    <td>Time Expected (hrs.)</td>
                    <td>Assigned User</td>
                    <td>Status</td>
                </tr>
            </thead>
        @foreach (var requirement in Model.Requirements)
        {
            <tr>
                <td>@requirement.Description</td>
                <td>@requirement.Type</td>
                <td>@requirement.Time</td>
                <td>@requirement.AssignedUser</td>
                <td>@requirement.Status</td>
            </tr>
        }
        </table>
} }