@model ProjectManager.Models.ProjectContext

@{
    ViewBag.Title = "Edit";
    ViewBag.Page = "Projects";
}

<h2>Edit</h2>

<form action="/Projects/Edit" method="post">
    <input type="hidden" name ="ProjectId" value="@Model.ProjectId" />
    <input type="hidden" name ="TenantId" value="@Model.TenantId" />
    <label for="oldProjName">Old Project Name: @Model.Name</label>
    <br />
    <label for="newProjName">New Project Name: </label>
    <input type="text" id="projectName" name="Name" value="@Model.Name"  />
    <br />
    <br />

    <label for="oldStartTime">Old Project Start Date: @Model.Start.ToString().Substring(0,10)</label>
    <br />
    <label for="newStartTime">New Project Start Date:</label>
    <input type="date" id="startDate" name="RawDateStart" value="@Model.RawDateStart.Date" />
    <input type="hidden" id="hiddenStartDate" name="Start" value="@Model.RawDateStart"
    <br />
    <br />

    <label for="oldEndTime">Old Project End Date: @Model.ExpectedEnd.ToString().Substring(0,10)</label>
    <br />
    <label for="newEndTime">New Project End Date</label>
    <input type="date" id="endDate" name="RawDateEnd" value="@Model.RawDateEnd.Date" />
    <input type="hidden" id="hiddenEndDate" name="ExpectedEnd" value="@Model.RawDateEnd"
    <br />
    <br />

    <label for="oldStatus">Old Project Status: @Model.Status </label>
    <br />
    <label for="newStatus">New Project Status: </label>
    @Html.DropDownListFor(s => Model.StatusId, new SelectList(@Model.StatusList, "StatusId", "Name"));
    <br />
    <br />

    <input type="submit" value="Save Changes" class="btn btn-primary" />
    <a href="/Projects" class="btn btn-default">Discard Changes</a>
</form>