@model List<ProjectManager.Models.ProjectContext>

@{
    ViewBag.Title = "Index";
    ViewBag.Page = "Projects";
}

<h2>Projects</h2>
<form action="/Projects/" method="post">
<label for="filterText">Search Projects by Title or Status: </label>
<input type="text" id="filterInput" name="Filter" />
<input type="submit" value="Search" class="btn btn-primary" />
<a href="/Projects/Create" class="btn btn-success" >New Project</a>

<<<<<<< Updated upstream
<a href="/Projects/Create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> New Project</a>
=======
>>>>>>> Stashed changes
<br /><br />

@{  
    if (Model.Count == 0)
    {
        <p>No results found.</p>
    }
    else
    {
        <table class="projects">
            <thead>
                <tr>
                    <td>Project Name</td>
                    <td>Start Date</td>
                    <td>Expected End Date</td>
                    <td>Manager</td>
                    <td>Status</td>
                    <td></td>
                </tr>
            </thead>
        @foreach (var project in Model)
        {
            <tr>
                <td><a class="project-name" href="/Projects/Details/@project.ProjectId">@project.Name</a></td>
                <td>@project.Start</td>
                <td>@project.ExpectedEnd</td>
                <td>@project.Manager</td>
                <td>@project.Status</td>
                <td><a href="/Projects/Edit/@project.ProjectId" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-pencil"></span> Edit</a></td>
            </tr>
        }
        </table>
    }
}
    </form>
