@model List<ProjectManager.Models.RequirementContext>

@{
    ViewBag.Title = "Index";
    ViewBag.Page = "Requirements";
    var IsManager = ProjectManager.Utils.Auth.GetCurrentUser().IsManager;
    var IsAdmin = ProjectManager.Utils.Auth.GetCurrentUser().IsAdmin;
}

<h2>Requirements</h2>

@{if(IsManager){
    <a href="/Requirements/Create" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> New Requirement</a>
    <br /><br />
}}

@{  
    if (Model.Count == 0)
    {
        <p>No results found.</p>
    }
    else
    {
        <table class="projects">
            <thead>
                <tr>
                    <td>Description</td>
                    <td>Type</td>
                    <td>Time Expected (hrs.)</td>
                    <td>Assigned User</td>
                    <td>Status</td>
                    <td>Project</td>
                </tr>
            </thead>
        @foreach (var requirement in Model)
        {
            <tr>
                <td>@requirement.Description</td>
                <td>@requirement.Type</td>
                <td>@requirement.Time</td>
                <td>@requirement.AssignedUser</td>
                <td>
                    @{ if (!IsManager && !IsAdmin)
                       {
                        @Html.DropDownListFor(s => requirement.StatusId,
                                              new SelectList(requirement.StatusList, "StatusId", "Name", requirement.StatusId),
                                              new { id = "status", @class = "form-control", data_reqId = requirement.RequirementId })
                       }
                       else
                       {
                        <text>@requirement.Status</text>
                       }
                    }
                </td>
                <td><a class="project-name" href="/Projects/Details/@requirement.ProjectId">@requirement.ProjectName</a></td>
            </tr>
        }
        </table>
    }
}

<script>
    $(document).ready(function () {
        $('.projects select').change(function (event) {
            var $target = $(event.target);
            var reqId = $target.data('reqid');
            var statusId = $target.val();
            
            $.ajax({
                url: "/Requirements/UpdateStatus",
                data: {
                    id: reqId,
                    newStatus: statusId,
                }
            }).done(function (result) {
                // result is { success: bool }
                if (result.success) {
                    $target.attr('disabled', 'disabled');
                    window.location.reload();
                }
            });
        });
    });
</script>