<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{
    bool loggedIn = ProjectManager.Utils.Auth.IsLoggedIn();
    ProjectManager.Models.CurrentUserContext currentUser = ProjectManager.Utils.Auth.GetCurrentUser();
    <div class="header-container" @{if (loggedIn) { <text>style="background-color: @currentUser.BannerColor;"</text> } }>
        @{if (loggedIn) {<text><img src="@currentUser.LogoPath" alt="Error"></text>}}
        <div class="header">
            <h1><a @{if (loggedIn) { <text>style="color: @currentUser.TextColor;"</text> } } href="/Home">
                @{if (loggedIn) {<text>@currentUser.TenantName Project Manager</text>}else {<text>SaaS Project Manager</text>}}

                </a></h1>

            <div class="login pull-right">
                @{
                if (loggedIn)
                {
                    <span class="user" style="color:@currentUser.TextColor">@currentUser.Username</span>
                    <a class="btn btn-default" href="/Home/Logout">Logout</a>
                }
                else
                {
                    <form action="/Home/Login" method="post">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="Username" />
                        <label for="password">Password</label>
                        <input type="password" id="password" name="Password" />
                        <input type="submit" value="Login" class="btn btn-default" />
                    </form>
                }
            }
            </div>
        </div>
    </div>
    
    <div class="main-content-container">
        @RenderBody()
    </div>
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
