<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <a href="/Home">Home</a>
    @{
        if (ProjectManager.Utils.Auth.IsLoggedIn())
        {
            <a href="/Home/Logout">Logout</a>
        }
        else
        {
            <a href="/Home/Login">Login</a>
        }
    }
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
